html {
  margin: 0;
}

body {
  display: flex;
  padding: 20px;
  margin: 0;
}

#leftBar {
  border-right: 1px solid black;
  text-align: right;
  padding-right: 15px;
  margin-top: 100px;
  /* use to maintain width w/ flex*/
  flex-basis: 150px;
  flex-grow: 0;
  flex-shrink: 0;
  height: 200px;
  opacity: 1;
}
#leftBar li {
  list-style: none;
}
#leftBar li a {
  text-decoration: none;
  color: inherit;
  transition: .3s;
}
#leftBar li a:hover {
  text-decoration: underline;
}
#leftBar #titleL {
  font-size: 1.5em;
}

#rightContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*fixes spacing between items: changes from stretch
  use to change spacing in cross-axis*/
  align-content: flex-start;
  margin-top: 30px;
  margin-left: 15px;
  opacity: 0;
}
.cImage {
  margin: 10px;
  height: 200px;
  width: 200px;
  background-color: lightgrey;
  border: 1px solid black;
  overflow: hidden;
}

/* img hover effects - scale for zoom effect*/
.cImage img {
  opacity: 1;
  transform: scale(1);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}
.cImage:hover img{
  transform: scale(1.2);
  opacity: .5;
}

.text {
  margin: 10px;
}
