html {
  margin: 0;
}

body {
  padding: 20px;
  margin: 0;
}

.text {
  margin: 10px;
}
#leftBar {
  position: fixed;
  border-right: 1px solid black;
  padding-right: 15px;
  text-align: right;
  margin-top: 100px;
  width: 150px;
  height: 200px;
  opacity: 1;
}
#leftBar li {
  list-style: none;
}
#leftBar li a {
  text-decoration: none;
  color: inherit;
  transition: .3s;
}
#leftBar li a:hover {
  text-decoration: underline;
}
#leftBar #titleL {
  font-size: 1.5em;
}

#rightContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /*fixes spacing between items: changes from stretch
  use to change spacing in cross-axis*/
  align-content: flex-start;
  margin-top: 30px;
  margin-left: 180px;
  opacity: 0;
}
.cImage {
  margin: 10px;
  height: 200px;
  width: 200px;
  background-color: lightgrey;
  border: 1px solid black;
  overflow: hidden;
}

/* img hover effects - scale for zoom effect*/
.cImage img {
  opacity: 1;
  transform: scale(1);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}
.cImage:hover img{
  transform: scale(1.2);
  opacity: .5;
}

/* slideshow */
.ssPreview {
  position: relative;
  margin: 10px;
  height: 150px;
  width: 500px;
  background-color: lightgrey;
  border: 1px solid black;
  overflow: hidden;
}

.ssWrap {
  display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.cText {
  box-sizing: border-box;
  color: white;
  position: absolute;
  width: 100%;
  top: 0;
  padding: 10px;
  text-align: center;
  background-color: rgba(0,0,0,0.3);
}

.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}

@media only screen and (max-width: 886px) {
  #leftBar {
    position: relative;
    text-align: center;
    padding-right: none;
    border-right: none;
    margin-top: 0;
    width: 100%;
    height: auto;
  }
  #leftBar #titleL {
    font-size: 2em;
    border-bottom: 1px solid black;
  }
  #leftBar li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid black;
  }
  #leftBar li:last-child {
    border-right: none;
  }

  #rightContent {
    justify-content: center;
    margin-left: 0;
  }
}
